<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      <%- htmlWebpackPlugin.options.title %>
    </title>
  </head>
  <body>
    <body>
      <div style="width: 400px; height: 400px; background: black">
          <div style="position:absolute;width:10px;height:50px;background:white" class="paddle1"></div>
          <div style="position:absolute;width:10px;height:50px;background:white" class="paddle2"></div>
          <div style="position:absolute;width:5px; height:5px;background:white" class="ball"></div>
      </div>
  </body>
</html>
